body {
    .head{
        text-align: center;
        background-color: aqua;
    }

.navbar{
    .container-fluid{

        background-color: gold;
    }
}

.row{
    margin-top: 25px;
}
.blog-footer{
   background-color: honeydew;
   margin-top: 25px;
   text-align: center;
}

.position-relative{
    background-image: url(/p6.jpg);
    
    .col-md-5{
        font-size: 60px;

    }
}

}
@media only screen and (max-width:500px){
     .hello{
        display: block;
        flex-direction: row-reverse;
        
    }


}
@media only screen and (min-width:990px){
    .hello{
       display: flex;
       
   }


}
@media only screen and (min-width:532px){
    .hello{
       display: flex;
       
   }


}